//------------------GlobalStyles-------------------------
//------------------RESET-STYLES-------------------------
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	font-family: generalFont;
	line-height: 150%;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
hgroup,
menu,
nav,
section {
	display: block;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

strong {
	font-weight: bold;
}

input {
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
	max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.no-overflow {
	overflow: hidden;
}

.bold {
	font-family: generalFontBold;
}

[class*="__container"] {
	max-width: 1536px;
	margin: 0 auto;
}

.btn {
	padding: 16px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	width: 360px;
	height: 62px;
	background: linear-gradient(360deg, #1C1B1B 7.47%, #FFFFFF 210%);
	border-radius: 8px;
	color: #f1f1f1;
}

.fixed-block {
	width: 100%;
	position: fixed;
	height: fit-content;
	z-index: 5;
}

main {
	padding-top: 164px;
}

@media (max-width: 900px) {
	main {
		padding-top: 118px;
	}
}


//------------------RESET-STYLES-END-------------------------
//------------------HEADER-------------------------
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100px;
	padding: 0 192px;
	background: #181818;

	&__social {
		display: none;
		align-items: baseline;

		&-item {
			width: 20px;
			height: 20px;
		}

		&-item:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__logo {
		z-index: 3;
		cursor: pointer;
	}

	&__logo-image {
		height: 42px;
	}

	&__logo-txt {
		font-size: 11px;

		white-space: nowrap;
		color: #95DEFF;
	}

	nav {
		font-size: 16px;

		color: #FFFFFF;
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		white-space: nowrap;
		height: 100%;

		li {
			height: 100%;
			cursor: pointer;
			display: flex;
			align-items: center;
			position: relative;
		}
	}

	&__menu-item:not(:last-child) {
		margin-right: 70px;
	}

	&__mouse-connect {
		width: 100%;
		position: absolute;
		height: 250%;
		top: 2px;
		background: #181818;
	}

	&__menu-title {
		z-index: 1;
	}

	&__burger {
		height: 44px;
		width: 56px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: column;
		cursor: pointer;
		z-index: 3;
		position: relative;
	}

	&__burger--active:not(:last-child, :first-child) {
		display: none;
	}

	&__burger--active:last-child,
	&__burger--active:first-child {
		width: 60px;
		position: absolute;
		top: 22px;
	}

	&__burger--active:last-child {
		transform: rotate(45deg);
	}

	&__burger--active:first-child {
		transform: rotate(-45deg);
	}

	&__burger-line {
		width: 100%;
		height: 0;
		border: 1px solid #FFFFFF;
		border-radius: 2px;
	}
}

@media (max-width: 1600px) {
	.header {
		padding: 0 50px
	}
}

@media (max-width: 1270px) {
	.header__menu-item:not(:last-child) {
		margin-right: 25px;
	}
}

@media (max-width: 960px) {
	.header {
		padding: 0 20px
	}
}

@media (max-width: 900px) {
	.header {
		padding: 0 45px;
		height: 70px;
	}

	nav {
		display: none;
	}

	.header__social {
		display: flex;
		z-index: 3;
	}

	.header__burger {
		width: 28px;
		height: 24px;
	}

	.header__burger--active:last-child,
	.header__burger--active:first-child {
		width: 30px;
		top: 12px;
	}

	.header__logo-txt {
		font-size: 6px;
	}
}

@media (max-width: 460px) {
	.header {
		padding: 0 20px
	}
}

//------------------HEADER-END-------------------------
//------------------POPUP-------------------------
.header {
	&__burger-menu {
		display: none;
		top: 0;
		position: fixed;
		z-index: 2;
		width: 100vw;
		height: 100vh;
		background: #181818;
		padding: 150px 192px 40px 192px;
		overflow-y: auto;
	}

	&__burger-menu--active {
		display: block;
	}

	&__burger-menu-content {
		height: 100%;
		overflow-y: auto;
		color: #FFFFFF;
	}

	&__burger-menu-item:not(:last-child) {
		margin-bottom: 15px;
	}

	&__burger-menu-item-txt {
		display: flex;
		align-items: baseline;
		margin-bottom: 15px;
		width: fit-content;
	}

	&__burger-menu-item-id {
		font-size: 13px;

		margin-right: 5px;
	}

	&__burger-menu-item-title {
		font-size: 30px;

	}

	&__burger-menu-subtitle {
		font-size: 20px;

		padding-left: 30px;
		display: block;
		width: fit-content;
	}

	&__burger-menu-subtitle:not(:last-child) {
		margin-bottom: 15px;
	}
}

@media (min-width: 769px) {
	.header__burger-menu-content {
		&::-webkit-scrollbar {
			width: 5px;
			background-color: #000000;
		}

		&::-webkit-scrollbar-thumb {
			background-color: #414141;
		}
	}
}

@media (max-width: 1000px) {
	.header__burger-menu {
		padding: 120px 50px 40px 90px;
	}
}

@media (max-width: 750px) {
	.header__burger-menu-item-id {
		font-size: 12px;
	}

	.header__burger-menu-item-title {
		font-size: 20px;
	}

	.header__burger-menu-subtitle {
		font-size: 16px;
	}
}

@media (max-width: 590px) {
	.header__burger-menu {
		padding: 90px 18px 30px 28px;
	}

	.header__burger-menu-content {
		padding-right: 10px;
	}
}

@media (max-width: 430px) {
	.header__burger-menu-item-id {
		font-size: 9px;
	}

	.header__burger-menu-item-title {
		font-size: 16px;
	}

	.header__burger-menu-subtitle {
		font-size: 12px;
	}
}

//------------------POPUP-END-------------------------


//------------------DROP-MENU-------------------------
.drop-menu {
	position: absolute;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 0px 0px 8px 8px;
	top: 62px;
	padding: 10px 20px 20px 20px;
	margin-left: -35px;
	display: none;

	&__item {
		display: flex;
		cursor: pointer;
		align-items: baseline;
		color: #000000;
	}

	li {
		height: 40px;
	}

	&__id {
		font-size: 11px;

		margin-right: 5px;
	}

	&__title {
		font-size: 16px;

	}
}

//------------------DROP-MENU-END-------------------------

//------------------UNDER-HEADER-------------------------
.under-header {
	display: flex;
	align-items: center;
	width: 100%;
	height: 64px;
	background-color: #ffffff;

	&__contacts {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: 15px;
		width: inherit;
	}

	&__number {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	&__icon {
		width: 20px;
		height: 20px;
		margin-right: 10px;
	}

	&__txt {
		font-size: 16px;

		color: #000000;
	}

	&__request-btn {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		background: linear-gradient(360deg, #1C1B1B 7.47%, #FFFFFF 210%);
		border-radius: 8px 0px 0px 8px;
		height: 100%;
		width: 30%;
		cursor: pointer;
		padding: 0 15px;
		min-width: 240px;
	}

	&__request-icon {
		margin-right: 10px;
		width: 20px;
		height: 30px;
		display: flex;
		align-items: center;
	}

	&__request-icon:last-child {
		display: none;
	}

	&__request-txt {
		font-size: 20px;

		white-space: nowrap;
		color: #FFFFFF;
	}
}

@media (max-width: 900px) {

	.under-header {
		height: 48px;
		justify-content: flex-end;
	}

	.under-header__contacts {
		width: fit-content;
		display: none;
	}

	.under-header__number {
		display: none;
	}

	.under-header__request-txt {
		font-size: 16px;
	}
}

@media (max-width: 600px) {
	.under-header__request-btn {
		min-width: 192px;
	}

	.under-header__request-icon:first-child {
		display: none;
	}

	.under-header__request-icon:last-child {
		display: flex;
		margin: 0 0 0 15px;
		padding-top: 2px;
	}
}

@media (max-width: 460px) {
	.under-header__request-icon:last-child {
		margin-left: 25px;
	}

	.under-header__request-txt {
		font-size: 12px;
	}
}

//------------------UNDER-HEADER-END-------------------------

//------------------BANNER-------------------
.banner {
	max-width: 100%;
	position: relative;

	&__switcher {
		position: absolute;
		left: 10%;
		top: 40px;
		display: flex;
		align-items: center;
		z-index: 1;
	}

	&__previous,
	&__next {
		display: flex;
		align-items: center;
		cursor: pointer;
	}

	&__previous {
		margin-right: 25px;
	}

	&__numbers {
		display: flex;
		color: #797979;
		font-size: 24px;
	}

	&__number {
		transform: rotate(-90deg);
	}

	&__number--active {
		color: #FFFFFF;
		font-size: 36px;
	}

	&__number:not(:last-child) {
		margin-right: 60px;
	}

	&__next {
		transform: rotate(-180deg);
		margin-left: 25px;
	}


	&__list {
		width: 100%;
	}

	&__item {
		background: url("../images/banner.png") no-repeat;
		background-size: cover;
		height: 920px !important;
		position: relative;
		padding: 140px 28px 0 28px;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		align-content: flex-start;
		color: #FFFFFF;
	}

	&__title {
		font-size: 48px;

		width: 100%;
		height: fit-content;
		margin-bottom: 50px;
		z-index: 1;
	}

	&__subtitle {
		font-size: 40px;
		width: 100%;
		max-width: 860px;
		height: fit-content;
		cursor: pointer;
		z-index: 1;

		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__image {
		position: absolute;
		z-index: 0;
		right: 20%;
		top: 25%;
	}

	&__image--away {
		right: 10%;
	}

	.slick-prev,
	.slick-next {
		z-index: 4;
		width: 100px;
		height: 70px;
	}

	.slick-prev:before,
	.slick-next:before {
		font-size: 60px;
	}
}

@media (max-width: 1600px) {
	.banner__image--second {
		right: 5%;
	}

	.banner__switcher {
		left: 28px;
	}
}

@media (max-width: 1400px) {
	.banner__image--third {
		right: 5% !important;
	}
}

@media (max-width: 1280px) {
	.banner__image--second {
		top: 45%;

		img {
			width: 75%;
		}
	}
}

@media (max-width: 1150px) {
	.banner__image {
		right: 10%;
	}
}

@media (max-width: 1150px) {
	.banner__image--third {
		right: 0% !important;
		top: 50%;

		img {
			width: 75%;
		}
	}
}

@media (max-width: 980px) {
	.banner__image--second {
		top: 50%;
	}
}


@media (max-width: 970px) {
	.banner__image {
		right: 0;

		img {
			width: 75%;
		}
	}
}


@media (max-width: 880px) {

	.banner__title {
		font-size: 28px;
	}

	.banner__subtitle {
		font-size: 20px;
	}

	.banner__item {
		height: 600px !important;
	}

	.banner__image {
		top: 35%;
		right: -30px;

		img {
			width: 60%;
		}
	}

	.banner__image--second {
		top: 45%;

		img {
			width: 50%;
		}
	}

	.banner__image--third {
		top: 25% !important;
		// right: -10% !important;

		img {
			width: 70%;
		}
	}
}

@media (max-width: 700px) {
	.banner__image--third {
		// right: -20% !important;

		img {
			width: 60%;
		}
	}
}

@media (max-width: 650px) {
	.banner__image {
		top: 35%;
		right: -100px;

		img {
			width: 60%;
		}
	}

	.banner__image--second {
		top: 45%;

		img {
			width: 50%;
		}
	}
}

@media (max-width: 600px) {
	.banner__image--second {
		top: 55%;

		img {
			width: 45%;
		}
	}

	.banner__image--third {
		// right: -28% !important;
		top: 29% !important;
	}
}

@media (max-width: 550px) {
	.banner__image {
		top: 16%;
		right: 27%;

		img {
			width: 100%;
			height: 275px;
		}
	}

	.banner__image--third {
		top: 16% !important;
		right: 27% !important;

		img {
			width: 100%;
			height: 275px;
		}
	}

	.banner__title {
		font-size: 20px;
		margin-bottom: 25px;
	}

	.banner__subtitle {
		font-size: 16px;
	}

	.banner__subtitle:not(:last-child) {
		margin-bottom: 10px;
	}

	.banner__item {
		padding-top: 390px;
	}
}

@media (max-width: 450px) {
	.banner__item {
		height: 640px !important;
	}

	.banner__image--third {
		right: 22% !important;
	}
}

@media (max-width: 400px) {
	.banner__image {
		right: 20%;
	}

	.banner__switcher {
		left: 6%;
	}
}


@media (max-width: 350px) {
	.banner__previous {
		margin-right: 15px;
	}

	.banner__next {
		margin-right: 15px;
	}

	.banner__number:not(:last-child) {
		margin-right: 50px;
	}

	.banner__image--third {
		right: 18% !important;
	}
}

//------------------BANNER-END-------------------

//------------------WORK-ORDER-------------------
.work-order {
	background: #181818;
	padding: 135px 28px;
	color: #FFFFFF;
	margin-top: 235px;


	&__title {
		font-size: 36px;
	}

	&__text {

		width: 100%;
		margin-top: 75px;
		font-size: 36px;
	}

	&__btn-block {
		margin-top: 40px;
	}

	&__btn {
		padding: 16px 24px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-size: 20px;
		width: 360px;
		height: 62px;
		background: linear-gradient(360deg, #1C1B1B 7.47%, #FFFFFF 210%);
		border-radius: 8px;
		color: #f1f1f1;
	}
}


@media (max-width: 1200px) {
	.work-order {
		padding: 65px 28px;
		margin-top: 135px;
	}
}

@media (max-width: 768px) {
	.work-order {
		margin-top: 65px;
	}

	.work-order__title {
		font-size: 20px;
	}

	.work-order__text {
		font-size: 20px;
		margin-top: 30px;
	}

	.work-order__btn {
		margin-top: 30px;
		width: 192px;
		height: 42px;
		padding: 16px 24px;
		font-size: 12px;
	}
}

@media (max-width: 425px) {

	.work-order {
		padding: 30px 28px;
	}

	.work-order__btn-block {
		display: flex;
		justify-content: center;
	}
}

//------------------WORK-ORDER-END-------------------

//------------------PROJECTS-------------------------------
.projects {
	margin-top: 235px;
	padding: 0 28px;

	&__title {
		font-size: 48px;
	}

	&__content {
		color: #ffffff;
		margin-top: 75px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&__item {
		width: 100%;
		filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.25));
		overflow: hidden;

		&:not(:last-child) {
			margin-bottom: 135px !important;
		}

		&-small {
			width: 45%;
		}
	}

	&__item-small .projects__item-image {
		width: fit-content;
		width: 100%;
	}

	&__item-image {
		border-radius: 8px 8px 0 0;
		width: 100%;

		img {
			width: 100%
		}
	}

	&__item-info {
		background: #303030;
		padding: 32px 32px 22px 32px;
		border-radius: 0 0 8px 8px;
		margin-top: -7px;
	}

	&__item-title {
		font-size: 30px;
	}

	&__item-subtitle {
		margin-top: 15px;
		font-size: 20px;
	}

	&__item-btn-block {
		display: flex;
		margin-top: 30px;
	}

	&__item-btn {
		max-width: fit-content;
		font-size: 20px;
		color: #F1F1F1;
		padding: 16px 122px;
		border-radius: 8px;
		border: 1px solid #F1F1F1;
	}

	&__btn-block {
		margin-top: 40px;
		display: flex;
	}
}

@media (max-width: 1200px) {
	.projects {
		margin-top: 135px;
	}
}

@media (max-width: 1024px) {
	.projects__item-title {
		font-size: 20px;
	}

	.projects__item-subtitle {
		font-size: 15px;
	}

	.projects__item-small .projects__item-btn-block {
		justify-content: center;
	}
}

@media (max-width: 980px) {
	.projects__item-small .projects__item-btn {
		padding: 15px 60px
	}
}

@media (max-width: 768px) {
	.projects {
		margin-top: 65px;
	}

	.projects__item:not(:last-child) {
		margin-bottom: 60px !important;
	}

	.projects__item-image {
		img {
			width: 100%;
		}
	}

	.projects__item-small .projects__item-btn-block {
		justify-content: start;
	}

	.projects__item-small {
		width: 100%;
	}

	.projects__item-btn {
		padding: 16px 122px !important;
	}
}

@media (max-width: 600px) {
	.projects__content {
		margin-top: 30px;
	}

	.projects__title {
		font-size: 38px;
	}
}

@media (max-width: 425px) {
	.projects__title {
		font-size: 24px;
	}

	.projects__item-info {
		padding: 12px 18px 16px 18px;
	}

	.projects__item-title {
		font-size: 13px;
	}

	.projects__item-subtitle {
		font-size: 11px;
		margin-top: 12px;
	}

	.projects__item-btn-block {
		margin-top: 12px;
		justify-content: center;
	}

	.projects__item-btn {
		padding: 15px 60px;
		font-size: 12px;
	}

	.projects__btn-block {
		margin-top: 30px;
		justify-content: center;
	}

	.projects__item-small .projects__item-btn-block {
		margin-top: 30px;
		justify-content: center;
	}

	.projects__btn {
		width: 315px;
	}

	.projects__item:not(:last-child) {
		margin-bottom: 30px !important;
	}
}

@media (max-width: 425px) {
	.projects__item-btn {
		padding: 15px 60px !important;
	}

	.projects__item {
		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}

	.projects__btn {
		width: 190px;
		font-size: 12px;
	}
}

//------------------PROJECTS-END---------------
//------------------STAGES----------------------
.stages {
	padding: 135px 28px;
	background: #000;
	color: #fff;

	margin-top: 235px;

	&__title {
		font-family: generalFontBold;
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
	}

	&__content {
		display: flex;
		flex-wrap: wrap;

		margin-top: 140px;
	}

	&__item {
		width: calc((100% - 300px) / 4);
		margin-bottom: 50px;
		border-left: 8px solid #303030;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-left: 25px;

		&:not(:last-child) {
			margin-right: 100px;
		}
	}

	&__title-block {
		max-height: 205px;
	}

	&__item-num {
		font-family: generalFontBold;
		font-style: normal;
		font-weight: 700;
		font-size: 96px;
		color: #A680FF;
	}

	&__item-title {
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		margin-top: 30px;

	}

	&__item-text {
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		min-height: 210px;
		margin-top: 40px;
		max-width: 275px;

	}
}

@media (max-width: 1536px) {
	.stages__item {
		width: calc((100% - 100px) / 3);

		&:nth-child(3n) {
			margin-right: 0 !important;
		}

		&:not(:last-child) {
			margin-right: 50px;
		}
	}
}

@media (max-width: 1200px) {

	.stages {
		margin-top: 135px;
		padding: 65px 28px;
	}

	.stages__content {
		margin-top: 75px;
	}

	.stages__item {
		width: calc((100% - 50px) / 2);

		&:nth-child(2n) {
			margin-right: 0 !important;
		}

		&:nth-child(3n) {
			margin-right: 50px !important;
		}
	}
}

@media (max-width: 768px) {

	.stages__title {
		font-size: 30px;
	}

	.stages__content {
		margin-top: 30px;
	}

	.stages__item-num {
		font-size: 77px;
	}

	.stages__item-title {
		font-size: 24px;
		margin-top: 0;
	}

	.stages__item-text {
		font-size: 16px;
		margin-top: 20px;
		min-height: 150px;
	}
}

@media (max-width: 655px) {

	.stages__item {
		width: 100%;
	}
}

@media (max-width: 425px) {

	.stages {
		padding: 30px 28px;
	}
}

//------------------STAGES-END---------------------

//------------------------CRM-PROCESS-----------------------------
.capabilities {
	margin-top: 235px;
	display: flex;
	max-width: 1536px;
	margin: 235px auto 0 auto;
	flex-wrap: wrap;
	padding: 0 28px 0 28px;
	margin-bottom: -50px;

	&__item {
		width: calc((100% - 100px) / 3);
		background: #F1F1F1;
		border-radius: 8px;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		padding: 40px 40px 105px 40px;
		margin-bottom: 50px;

		&:not(:last-child) {
			margin-right: 50px;
		}
	}

	&__title-block {
		height: 165px;
	}

	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 48px;
	}

	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 30px;
	}

	&__image {
		width: fit-content;
		margin: 50px auto 0 auto
	}
}

@media (max-width: 1430px) {
	.capabilities__title {
		font-size: 42px;
	}

	.capabilities__text {
		font-size: 24px;
	}
}

@media (max-width: 1300px) {
	.capabilities__item {
		width: calc((100% - 50px) / 2);
	}

	.capabilities__item:nth-child(2n) {
		margin-right: 0;
	}
}

@media (max-width: 1200px) {
	.capabilities {
		margin-top: 135px;
	}
}

@media (max-width: 900px) {
	.capabilities__title {
		font-size: 32px;
	}

	.capabilities__text {
		font-size: 24px;
	}
}

@media (max-width: 768px) {

	.capabilities {
		margin-bottom: -40px;
		margin-top: 65px;
	}

	.capabilities__item {
		width: 100%;
		margin-right: 0 !important;
		padding-bottom: 40px;
	}

	.capabilities__title-block {
		height: 100px;
	}

	.capabilities__title {
		font-size: 30px;
	}

	.capabilities__text {
		font-size: 20px;
	}
}

@media (max-width: 425px) {

	.capabilities {
		margin-top: 65px;
		padding: 30px 28px;
	}

}

//------------------------CRM-PROCESS-END----------------------------

//------------------------SERVICES--------------------------
.services {
	margin-top: 235px;
	background: #181818;
	padding: 135px 155px 190px;
	color: #fff;

	&__content {
		position: relative;
		max-width: 1590px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;

	}

	&__title-block {
		width: 50%;
	}

	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 48px;

		color: #95DEFF;
	}

	&__image {
		position: absolute;
		margin-top: 10px;
	}

	&__info {
		width: 50%;
	}

	&__list {
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		margin-bottom: 170px;
	}

	&__list-item {
		&:not(:last-child) {
			margin-bottom: 60px;
		}

		span {
			font-size: 16px;
			margin-right: 5px;
		}
	}

	&__subtitle {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		margin-top: 30px;

	}

	&__text {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		width: 570px;

		margin-top: 30px;
	}

	&__btn {
		margin-top: 75px;
	}

}

//------------------------SERVICES-END-------------------------

//------------------------TEXT-BLOCK------------------------
.txt-block {

	margin-top: 235px;
	padding: 0 28px;

	&__title {
		font-style: normal;
		font-weight: 700;
		font-size: 36px;
		color: #181818;
	}

	&__text {
		font-size: 30px;
		margin-top: 60px;
	}
}

@media (max-width: 1200px) {
	.txt-block {
		margin-top: 135px;
	}


}

@media (max-width: 768px) {
	.txt-block {
		margin-top: 65px;
	}

	.txt-block__title {
		font-size: 30px;
	}

	.txt-block__text {
		font-size: 20px;
	}
}

@media (max-width: 425px) {

	.txt-block__title {
		font-size: 20px;
	}

	.txt-block__text {
		font-size: 16px;
		margin-top: 30px;
	}
}

//------------------------TEXT-BLOCK-END------------------------

//------------------------li-BLOCK------------------------
.li-block {
	padding: 0 28px;
	list-style: circle;
	margin-top: 235px;

	&__title {
		font-weight: 700;
		font-size: 48px;
	}

	&__text {
		list-style: disc;
		padding-left: 50px;
		margin-top: 50px;
	}

	&__item {
		font-size: 30px;
		font-weight: 400;
		margin-top: 50px;

		span {
			font-size: 36px;
		}
	}
}

@media (max-width: 1200px) {
	.li-block {
		margin-top: 135px;
	}
}

@media (max-width: 768px) {
	.li-block {
		margin-top: 65px;
	}

	.li-block__title {
		font-size: 36px;
	}

	.li-block__item {
		font-size: 20px;

		span {
			font-size: 24px;
		}
	}
}

@media (max-width: 425px) {

	.li-block__title {
		font-size: 30px;
	}

	.li-block__item {
		font-size: 16px;

		span {
			font-size: 20px;
		}
	}
}

//------------------------li-BLOCK-END-----------------------


//-------------------FOOTER------------------------

.footer {

	background: #181818;
	padding: 90px 40px 100px 40px;
	margin-top: 235px;
	color: #FFFFFF;

	&__content {
		margin: 0 auto;
		max-width: 1110px;
		display: flex;
		justify-content: space-between;

		&>* {
			width: 33.3%;
		}

	}

	&__title {
		font-size: 20px;
		margin-bottom: 24px;
	}

	&__nav {
		color: #C1C1C1;
	}

	&__nav-item {
		color: inherit;
		cursor: pointer;

		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__mobile-logo-block {
		display: none;
		max-width: 140px;
		width: 100%;
	}

	&__logo-block {
		justify-content: center;
		display: flex;
		align-items: center;
	}

	&__logo {
		position: relative;
	}

	&__logo-text {
		white-space: nowrap;
		font-size: 11px;
		position: absolute;
		left: 4.63%;
		right: 42.47%;
		top: 77.72%;
		bottom: 14.13%;
		color: #95DEFF;
	}

	&__projects-and-contacts-content {
		float: right;
		width: 195px;
	}


	&__contacts-item {
		display: flex;
		align-items: center;
		font-size: 13px;
		color: #C1C1C1;

		a {
			margin-left: 8px;
		}

		&:not(:last-child) {
			margin-bottom: 16px;
		}


	}

	&__separator {
		display: flex;
		margin-top: 110px;

		&::before {
			content: '';
			width: 100%;
			height: 1px;
			background-color: #919191;
		}
	}

	&__after-separator {
		max-width: 1110px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 25px auto 0;
		font-size: 13px;
		color: #C1C1C1;
	}

	&__after-separator-item {
		white-space: nowrap;

		img {
			margin-right: 70px;
		}

		&:not(:last-child) {
			cursor: pointer
		}
	}
}

@media (max-width: 1200px) {
	.footer {
		padding: 65px 28px;
		margin-top: 135px;
	}
}

@media (max-width: 850px) {
	.footer__logo-text {
		font-size: 9px;
	}

	.footer__logo-block {
		max-width: 210px;
	}
}

@media (max-width: 768px) {

	.footer {
		margin-top: 65px;
	}

	.footer__content {
		&>* {
			width: 50%;
		}
	}

	.footer__logo-block {
		display: none;
	}

	.heart {
		display: none;
	}

	.footer__nav {
		font-size: 13px;
	}
}

@media (max-width: 600px) {
	.footer {
		padding-top: 35px;
		padding-bottom: 55px;
	}

	.footer__after-separator-item {
		width: 100%;
	}

	.footer__after-separator {
		flex-wrap: wrap;
		margin-top: 12px;
	}

	.footer__after-separator-item:not(:last-child) {
		margin-bottom: 12px;
	}
}

@media (max-width: 500px) {
	.footer__content {
		flex-wrap: wrap;

		&>* {
			width: 100%;
		}
	}

	.footer__title {
		font-size: 16px;

		&:nth-child(2) {
			margin-bottom: 12px !important;
		}
	}

	.footer__nav-item {
		&:not(:last-child) {
			margin-bottom: 12px !important;
		}
	}

	.footer__services {
		margin-bottom: 24px;
	}

	.footer__projects-and-contacts-content {
		float: left;
	}

	.footer__separator {
		margin-top: 42px;
	}

	.footer__mobile-logo-block {
		display: block;
		margin-bottom: 25px;
	}

	.footer__logo-text {
		font-size: 6px;
	}

	.footer {
		padding-top: 35px;
		padding-bottom: 55px;
	}
}

//-------------------FOOTER-END-------------------------------
//-------------------GLOBAL-STYLES-END------------------------