.development-stages {
	margin-top: 235px;
}

.development-stages__title {
	font-size: 38px;
}

.development-stages__subtitle {
	font-size: 30px;
}

.development-stages__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 75px;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.development-stages__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: calc(33.3333333333% - 20px);
	min-width: 480px;
	background: #181818;
	padding: 35px 35px 45px 35px;
	border-radius: 8px;
}

.development-stages__item:first-child>.development-stages__item-info>ul> :not(:first-child) {
	margin-top: 35px;
}

.development-stages__item:not(:last-child) {
	margin-right: 30px;
}

.development-stages__number {
	margin-top: 50px;
}

.development-stages__item-title {
	color: #fff;
	font-size: 22px;
}

.development-stages__list {
	margin-top: 50px;
}

.development-stages__list-item {
	color: #a680ff;
	font-size: 18px;
	font-family: inherit;
}

.development-stages__number {
	position: relative;
	font-size: 128px;
	color: #fff;
	width: 215px;
	height: 230px;
	margin-top: 50px;
}

.development-stages__image {
	position: absolute;
	left: 42.06%;
	right: 0%;
	top: 0%;
	bottom: 11.7%;
}

@media (max-width: 1590px) {
	.development-stages {
		padding: 0 28px;
	}

	.development-stages__item {
		min-width: 300px;
	}

	.development-stages__item-title {
		font-size: 18px;
	}

	.development-stages__list-item {
		font-size: 16px;
	}
}

@media (max-width: 1200px) {
	.development-stages {
		margin-top: 135px;
	}
}

@media (max-width: 1150px) {
	.development-stages__item {
		width: calc(50% - 30px);
	}

	.development-stages__content {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.development-stages__item:not(:first-child) {
		margin-top: 30px;
	}
}

@media (max-width: 800px) {
	.development-stages__item {
		width: 100%;
		max-width: 500px;
		padding: 30px 40px 10px 20px;
	}

	.development-stages__list {
		margin-top: 20px;
	}

	.development-stages__item:first-child>.development-stages__item-info>ul>:not(:first-child) {
		margin-top: 15px;
	}

	.development-stages__item:not(:last-child) {
		margin-right: 0;
	}

	.development-stages__content {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.development-stages__number {
		margin-top: 15px;
	}

}

@media (max-width: 768px) {
	.development-stages {
		margin-top: 65px;
	}
}

@media (max-width: 767px) {
	.development-stages__title {
		display: none;
	}

	.development-stages__subtitle {
		display: none;
	}
}

@media (max-width: 450px) {
	.development-stages__item-title {
		font-size: 16px;
	}

	.development-stages__list-item {
		font-size: 12px;
	}
}


.benefits {
	margin-top: 235px;
}

.benefits__section {
	padding: 135px 28px;
	font-size: 30px;
}

.benefits__section:nth-child(2)>.benefits__content {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.benefits__section:nth-child(4)>.benefits__content {
	font-size: 40px;
}

.benefits__section-black {
	background: #181818;
	color: #fff;
}

.benefits__content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.benefits__content>* {
	width: 100%;
}


.benefits__content span {
	display: block;
	margin-top: 75px;
	width: 100%;
}

.benefits__txt {
	width: 100%;
}

.benefits__txt:not(:first-child) {
	margin-top: 75px;
}

.benefits__text-block {
	margin-right: 80px;
}

.benefits__text-block p:not(:first-child) {
	margin-top: 95px;
}

.benefits__image {
	min-width: 280px;
}

@media (max-width: 1440px) {
	.benefits__image {
		max-width: 700px;
	}

	.benefits__section {
		font-size: 24px;
	}

	.benefits__section:nth-child(4)>.benefits__content {
		font-size: 36px;
	}
}


@media (max-width: 1336px) {
	.benefits__image {
		max-width: 600px;
	}

	.benefits__section {
		font-size: 20px;
	}

	.benefits__section:nth-child(4)>.benefits__content {
		font-size: 32px;
	}
}


@media (max-width: 1200px) {
	.benefits {
		margin-top: 135px;
	}

	.benefits__content span {
		margin-top: 40px;
	}

	.benefits__txt:not(:first-child) {
		margin-top: 40px;
	}

	.benefits__section {
		padding: 65px 28px;
	}



	.benefits__text-block p:not(:first-child) {
		margin-top: 50px;
	}

	.benefits__section {
		font-size: 16px;
	}

	.benefits__section:nth-child(4)>.benefits__content {
		font-size: 26px;
	}
}

@media (max-width: 1024px) {
	.benefits__image {
		max-width: 450px;
	}
}

@media (max-width: 886px) {
	.benefits__text-block {
		margin-right: 30px;
	}

	.benefits__text-block p:not(:first-child) {
		margin-top: 30px;
	}

	.benefits__section {
		font-size: 14px;
	}

	.benefits__section:nth-child(4)>.benefits__content {
		font-size: 20px;
	}

	.benefits__image {
		max-width: 400px;
	}
}

@media (max-width: 800px) {
	.benefits__text-block p:not(:first-child) {
		margin-top: 10px;
	}

	.benefits__section {
		font-size: 12px;
	}

	.benefits__section:nth-child(2)>.benefits__content {
		font-size: 16px;
	}

	.benefits__section:nth-child(4)>.benefits__content {
		font-size: 16px;
	}

	.benefits__image {
		max-width: 350px;
	}
}

@media (max-width: 768px) {
	.benefits {
		margin-top: 65px;
	}

	.benefits__text-block {
		margin-right: 0;
	}


	.benefits__content {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.benefits__image {
		width: 100%;
		margin-top: 30px;
	}
}

@media (max-width: 425px) {
	.benefits__section {
		padding: 30px 28px;
	}

	.benefits__content span {
		margin-top: 30px;
	}

	.benefits__txt:not(:first-child) {
		margin-top: 30px;
	}

	.benefits__text-block {
		margin-right: 0px;
	}

	.benefits__text-block p:not(:first-child) {
		margin-top: 30px;
	}
}

.work-plan {
	padding: 0 28px;
	margin-top: 235px;
}

.work-plan__title {
	font-size: 30px;
}

.work-plan__content {
	margin-top: 75px;
	padding-left: 45px;
}

.work-plan__list {
	font-size: 24px;
	list-style: disc;
}

@media (max-width: 1200px) {
	.work-plan {
		margin-top: 135px;
	}
}

@media (max-width: 768px) {
	.work-plan {
		margin-top: 65px;
	}

	.work-plan__content {
		margin-top: 30px;
	}

	.work-plan__title {
		font-size: 24px;
	}

	.work-plan__list {
		font-size: 18px;
	}
}

@media (max-width: 650px) {
	.work-plan__title {
		font-size: 18px;
	}

	.work-plan__list {
		font-size: 14px;
	}

	.work-plan__content {
		padding-left: 25px;
	}
}

.certificates {
	margin-top: 235px;
	padding: 0 28px;
}

.certificates__title {
	font-size: 40px;
}

.certificates__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-between;
}

.certificates__item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 33.3%;
	max-width: 400px;
	min-width: 144px;
	margin-top: 75px;
}

@media (min-width: 1316px) {
	.certificates__item:not(:nth-child(3n)) {
		margin-right: 30px;
	}
}

@media (max-width: 1315px) {
	.certificates__list {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}

	.certificates__item {
		width: 50%;
	}

	.certificates__item:not(:nth-child(2n)) {
		margin-right: 30px;
	}
}

@media (max-width: 1200px) {
	.certificates {
		margin-top: 135px;
	}
}

@media (max-width: 885px) {
	.certificates__item {
		max-width: calc(50% - 30px);
	}

	.certificates__title {
		font-size: 34px;
		text-align: left;
	}

	.certificates__list {
		margin-top: 30px;
	}
}

@media (max-width: 768px) {
	.certificates {
		margin-top: 65px;
	}

	.certificates__item {
		margin-top: 30px;
	}

	.certificates__title {
		font-size: 28px;
	}
}

@media (max-width: 500px) {
	.certificates__title {
		font-size: 20px;
	}
}

@media (max-width: 374px) {
	.certificates__item {
		min-width: 100%;
		margin-right: 0;
	}

	.certificates__item:not(:nth-child(2n)) {
		margin-right: 0;
	}
}